.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -3em;
  }
  
  .socialMedia svg {
    color: rgb(231, 220, 220);
    margin: 1em;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 0em;
  }
  
  .footer p {
    color: rgb(231, 220, 220);
    font-size: 0.6em;
    font-weight: 400;
    margin-top: -2em;
  }
  
  .footer span{
    color:rgb(76, 227, 122);
    font-weight: 800;
  }
.footer h3 {
    color: rgb(231, 220, 220);
    font-size: 0.8em;
}

.footer h4 {
    color: rgb(231, 220, 220);
    font-size: 0.7em;
}